<!-- <h1>Event Learning In Angular</h1> -->
<!-- <button (click)="handleEvent($event)">Click Event</button>

<br />
<br />

<div
  (mouseenter)="handleEvent($event)"
  style="width: 100px; height: 100px; background-color: aquamarine"
></div>

<div
  (mouseleave)="handleEvent($event)"
  style="width: 100px; height: 100px; background-color: violet"
></div>

<br />

<input
  (focus)="handleEvent($event)"
  (input)="handleEvent($event)"
  (blur)="handleEvent($event)"
  type="text"
/> -->

<h1>Get and set Input Field Value</h1>
<h1>Name is : {{ displayName }}</h1>
<input
  type="text"
  value="{{ displayName }}"
  (input)="getName($event)"
  placeholder="Enter Name"
/><br />
<button (click)="showName()">Get Value</button>
<button (click)="setName()">Set Value</button>

<hr />

<h2>Email : {{ email }}</h2>
<input type="email" value="{{ email }}" placeholder="Enter Email" #emailField />
<br />
<button (click)="getEmail(emailField.value)">Get Value</button>
<button (click)="setEmail()">Set Value</button>
