<h1>API in Angular</h1>

<!-- @for (product of productsList; track product.id) {
<ul>
  <li><b>Name : </b>{{ product.title }}</li>
  <li><b>Price : </b>{{ product.price }}</li>
  <li><b>Category : </b>{{ product.category }}</li>
  <li><img src="{{ product.thumbnail }}" alt="" /></li>
</ul>
} -->
<!-- 
<h2>Users List</h2> -->
<!-- 
<form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">
  <input
    type="text"
    placeholder="Enter name"
    name="name"
    [ngModel]="selectedUser?.name"
  />
  <br /><br />
  <input
    type="number"
    placeholder="Enter Age"
    name="age"
    [ngModel]="selectedUser?.age"
  />
  <br /><br />
  <input
    type="text"
    placeholder="Enter email"
    name="email"
    [ngModel]="selectedUser?.email"
  />
  <br /><br />
  @if (!selectedUser) {
  <button>Add User</button>
  } @else {
  <button>Update User</button>
  }
</form>

@for (user of users; track user.id) {
<ul>
  <li>{{ user.name }}</li>
  <li>{{ user.age }}</li>
  <li>{{ user.email }}</li>
  <li><button (click)="deleteUser(user.id)">Delete</button></li>
  <li><button (click)="selectUser(user.id)">Update User</button></li>
</ul>
} -->

<h1>Lazy Loading</h1>
<a routerLink="/admin">Go to Admin Page</a>
<router-outlet></router-outlet>
